/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 body {
    box-sizing: border-box;
}

.heading {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding-top: 40px;
}

form {
    display: inline-flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
}

label,
input,
select {
    margin: 2px 2px;
    padding: 2px;
}

label {
    display: inline-block;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    text-align: right;
}

input,
select {
    width: 160px;
    box-sizing: border-box;
    margin-right: 10px;
}

#submit {
    border-radius: 5px;
    width: 150px;
    font-weight: bold;
    font-size: 1rem;
}

#data_table {
    border: 2px solid black;
    text-align: center;
    width: 90%;
}



#data_table th {
    background-color: grey;
    color: black;
    border: 1px solid black;
}

#data_table th,
#data_table td {
    padding: 0.5rem;
    font-size: 0.8rem;
    border: 1px solid black;
}

#data_table tr {
    border-bottom: 1px solid #222;
}

/* Responsiveness */

@media screen and (max-width: 800px) {
    
    body{
        overflow: scroll;
    }
    
    label, input, select {
      width: 90%;
    }

    label {
      text-align: left;
    }

    form {
        flex-direction: column;
        align-items: stretch;
      }
    
  }